In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# observing how the next urls are 
# then storing all the urls in a list (except the first)
urls = ['http://books.toscrape.com/catalogue/page-' + str(i) + '.html' for i in range(2,51)]

In [3]:
# first url 
url = ['http://books.toscrape.com/']

In [4]:
# adding all the urls in a list
url.extend(urls)

In [5]:
# making sure it contains all the 50 pages
len(url)

50

In [6]:
names = []
ratings = []
availabilities = []
prices = []
images = []

# iterating through each page
for page in url:
    result = requests.get(page)
    src = result.content
    soup = BeautifulSoup(src, 'html.parser')
    for link in soup.find_all('li',class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3'):
        name = link.find('h3').a['title']
        rating = link.find('p').get('class')[1]
        price = link.find('div',class_ = 'product_price').p.text
        avlb = link.find('div',class_ = 'product_price').find('p',class_ = 'instock availability').text
        img = link.find('img').attrs['src']

        names.append(name)
        ratings.append(rating)
        availabilities.append(avlb)
        prices.append(price)
        images.append(img)

In [7]:
df = pd.DataFrame({'Name':names,'Rating':ratings,'Availability':availabilities,'Price':prices,'Image_src':images})

In [8]:
df.head()

,Name,Rating,Availability,Price,Image_src
0,A Light in the Attic,Three,\n\n \n In stock\n \n,£51.77,media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...
1,Tipping the Velvet,One,\n\n \n In stock\n \n,£53.74,media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...
2,Soumission,One,\n\n \n In stock\n \n,£50.10,media/cache/3e/ef/3eef99c9d9adef34639f51066202...
3,Sharp Objects,Four,\n\n \n In stock\n \n,£47.82,media/cache/32/51/3251cf3a3412f53f339e42cac213...
4,Sapiens: A Brief History of Humankind,Five,\n\n \n In stock\n \n,£54.23,media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...

In [9]:
df.shape
# it has 1000 rows, therefore all the pages are scraped

(1000, 5)

In [10]:
#saving in a csv file
df.to_csv('all_pages_data.csv')